
*{
    margin: 0px;
    padding: 0px;

}

.container{
    display: flex;
    background-color: tomato;


}

.contenedor-vert{
    display: flex;
    width: 180px;
    height: 500px;
   align-items: center;
   flex-direction: column;
    justify-content: space-around;
    background-color: rgb(136, 229, 255);
}
.item{
    background-color: rgb(0, 91, 171);
    color: aliceblue;
    border: 1px solid;
    padding: 5px;
    
    
    
}
.grow{
    display: flex;
    justify-content: baseline;
    flex-grow: inherit;
    background-color: yellowgreen;
    
}

@media(min-width: 640px) {
    .contenedor-vert{
        flex-direction: row;
     width: 700px;
    height: 180px;
    }
    

}